#app {
  // 全局字体大小 14 px
  font-size: 14px;
  .app-container {
    margin: 0 6px;
  }
  .app-box {
    height: calc(100vh - 150px);
    overflow-y: auto;
    overflow-x: hidden;
  }
  .catalog-to-top {
    position: fixed;
    top: 30%;
    right: 6px;
    padding: 0 10px;
    background-color: rgba(0, 0, 0, 0.1);
    color: rgba(0, 150, 136, 0.5);
    border-radius: 8px;
  }
  .article-main {
    min-height: calc(100vh - 90px);
    @include border-bottom(rgba(187, 187, 187, 0.6))
  }
  .home-main {
    min-height: calc(100vh - 60px);
    @include border-bottom(rgba(187, 187, 187, 0.6))
  }
  .aside, .none-aside {
    position: fixed;
    top: 70px;
    width: 150px;
    padding: 5px;
    background-color: rgba(0, 150, 136, 0.5);
    color: #ffffff;
    border-radius: 5px;
    transition: right 0.7s;
    h1 {
      position: absolute;
      top: 30%;
      padding: 10px 0;
      border-radius: 8px;
      width: 50px;
      left: -56px;
      background-color: rgba(0, 150, 136, 0.5);
      color: #ffffff;
    }
  }
  .aside {
    right: 0;
  }
  .none-aside {
    right: -150px;
  }
  .color {
    color: $ttColor;
  }
  .color2 {
    color: $ttColor2;
  }
  .err {
    color: #f00;
  }
  .index {
    line-height: 2em;
    white-space: pre-wrap;
  }
  .bold {
    font-weight: bold;
  }
  .ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .flex {
    display: flex;
  }
  .pre-wrap {
    white-space: pre-wrap;
  }
  .border-top {
    @include border-top(rgba(187, 187, 187, 0.6));
  }
  .border-bottom {
    @include border-bottom(rgba(187, 187, 187, 0.6));
  }
  .border-left {
    @include border-left(rgba(187, 187, 187, 0.6));
  }
  .border-right {
    @include border-right(rgba(187, 187, 187, 0.6));
  }
  .border {
    @include border(rgba(187, 187, 187, 0.6));
  }
  .top-arrow {
    position: relative;
    &::after {
      content: " ";
      display: inline-block;
      height: 10px;
      width: 10px;
      border-width: 2px 2px 0 0;
      border-color: #C8C8CD;
      border-style: solid;
      transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
      position: absolute;
      top: 50%;
      margin-top: -4px;
      right: 2px;
    }
  }
}