.slide-right-enter-active {
  transition: all .75s;
}

.slide-right-enter {
  transform: translateX(375px);
}

.slide-right-enter-to {
  transform: translateX(0);
}

.slide-bottom-enter-active {
  transition: all 0.8s;
}

.slide-bottom-enter {
  transform: translateY(700px);
}

.slide-bottom-enter-to {
  transform: translateX(0);
}